*.py[co]
*.sw[po]
.coverage
coverage.xml
nosetests.xml
pip-log.txt
bin
build.py
build
docs/_gh-pages
elasticsearch
include
^lib
man
pyramid.log
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
.noseids
tmp/*
*~
*.mo
