
#query {
  margin: 10px;
  border: 1px solid grey;
  padding: 10px;
}

#query div {
  margin: 10px;
}

#query label {
  width: 200px;
  display: block;
  float: left;
}

#query input[type="button"] {
  margin-top: 20px;
}

.datepicker, .dropdown-menu {
  z-index: 6000;
}

div.chart {
  padding: 20px;
  background-color: transparent;
  border: 1px solid gray;
  /*cursor: move;*/
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

[draggable] {
  -moz-user-select: none;
}

