
#query {
  margin: 10px;
  border: 1px solid grey;
  padding: 10px;
}

#query div {
  margin: 10px;
}

#query label {
  width: 200px;
  display: block;
  float: left;
}

#query input[type="button"] {
  margin-top: 20px;
}
